*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body{
    background-color: rgb(86, 86, 86);
} */

/* Complementamos con propiedades para tener bien nuestros botones */
.margin-navbar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* 2.- Le agregamos un margen a nuestros botones para que no queden espaciados */
.btn-margin{
    margin: 20px;
}

/* 3.- Agregamos propiedades a una clase para nuestro containder del cover */
.cover-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 4.- Agregamos las propiedades para la imagen */
.cover-image{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}

/* 5.- Agregamos un título para la canción */

.name-container{
    display: flex;
    justify-content: center;
    margin-top:20px;
}